html, body, p{
    margin: 0;
    padding: 0;
}

a:hover{
    background-color:#ffffff;
    color: #52be80;
    font-size: 1.5em;
}

header{
    padding: 25px 0px;
    background-color: #52be80;
    text-align: center;
}



.my_header{
    width: 35px;
    background-color:#52be80;
    margin: auto;
    padding: 25px;
}

#header-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#content{
    display: flex;
    flex-grow: 1;/* flex-grow permet de gerer la taille des éléments de ma flexbox */
    
    

    
}

#membres{
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.membre{
    border: 1px solid black;
    margin:5px;
    padding:5px;
}

p{
    font: 1em Tahoma, Geneva;
    margin-bottom: 1em;
}

a{
    color: white;
}

.ma_section{

    background-color:#27ae60;

}

.mon_article{
    
    
    text-align: center;
    

}

.ma_section, .mon_article{
    /*flex: 1;*/
    
    padding: 1em;
    

}

footer{
    padding: 25px 0px;
    background-color:#52be80;
    text-align: bottom;
}