{% extends "base.html.twig" %}


{% block body %}

            <h1>Bonjour et bienvenue sur la page de la Markaz</h1>
			<h3>Nous sommes heureux pour votre fidélité</h3>
			<p>Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque
			Nous repondons a tous les messages que nous recevrons ici
			Donc vous pouvez vous attendre a recevoir une reponse d'ici
			Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque</p>
			<p>Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque
			Nous repondons a tous les messages que nous recevrons ici
			Donc vous pouvez vous attendre a recevoir une reponse d'ici
			Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque</p>
			<p>Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque
			Nous repondons a tous les messages que nous recevrons ici
			Donc vous pouvez vous attendre a recevoir une reponse d'ici
			Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque</p>
			<p>Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque
			Nous repondons a tous les messages que nous recevrons ici
			Donc vous pouvez vous attendre a recevoir une reponse d'ici
			Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque</p>
			<p>Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque
			Nous repondons a tous les messages que nous recevrons ici
			Donc vous pouvez vous attendre a recevoir une reponse d'ici
			Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque</p>
			<p>Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque
			Nous repondons a tous les messages que nous recevrons ici
			Donc vous pouvez vous attendre a recevoir une reponse d'ici
			Notre priorité c'est de repondre a toutes vos preéoccupations en ce qui concerne la religion islaminque</p>
{% endblock %}
        