{% extends "base.html.twig" %}


{% block body %}

            <h1></h1>
            <form action="#" method="post">
            <fieldset>
              <legend>Contact:</legend>
              <input  type="text" value="" placeholder="Nom "></br></br>
              <input  type="text" value="" placeholder="Prenom "></br></br>
              <input  type="mail" value="" placeholder="Email"></br></br>
              <button type="submit" value="Envoyer">Envoyer</button>
            </fieldset>
          </form>
{% endblock %}
        