{% extends "base.html.twig" %}


{% block body %}

            <div id='membres'>
                <div class= 'membre'><h4>Traore Issouf</h4> </br>
                <p>-Chef d'equipe</p>
                <p>Developpeur web</p>
                <p>Specialité: Php, Symfony, React</p>
                </div>
                <div class= 'membre'><h4>Traore Adboul</h4></br>
                <p>Etudiant en licence</p>
                <p>Developpeur web</p>
                <p>Specialité: Php, Symfony, React</p></div>
                <div class= 'membre'><h4>Kone Younouss</h4> </br>
                <p>Etudiant en BTS</p>
                <p>Developpeur web</p>
                <p>Specialité: Php, Symfony, React</p></div>
                <div class= 'membre'><h4>Sidibe Kaou</h4> </br>
                <p>Etudiant en licence</p>
                <p>Developpeur web</p>
                <p>Specialité: Php, Symfony, React</p></div>
            </div>
            

{% endblock %}
        