{% extends "base.html.twig" %}


{% block body %}

    <div class= 'mon_article'>
            <h1>Les missions de la Markaz </h1>
            <p>L'institut des sciences islamiques aussi appelé la Markaz a pour but d'enseigner la religion islamique 
            et toutes les sciences qui y sont liées</p>
            <p>en effet c'est cet etablissement que les enseignants se edonnes corps et ames afin de nous
             apprendre notre religion dans les moindes details sans ambiguité</p>
             <p>L'institut des sciences islamiques aussi appelé la Markaz a pour but d'enseigner la religion islamique 
            et toutes les sciences qui y sont liées</p>
            <p>en effet c'est cet etablissement que les enseignants se edonnes corps et ames afin de nous
             apprendre notre religion dans les moindes details sans ambiguité</p>
             <p>L'institut des sciences islamiques aussi appelé la Markaz a pour but d'enseigner la religion islamique 
            et toutes les sciences qui y sont liées</p>
            <p>en effet c'est cet etablissement que les enseignants se edonnes corps et ames afin de nous
             apprendre notre religion dans les moindes details sans ambiguité</p>
             <p>L'institut des sciences islamiques aussi appelé la Markaz a pour but d'enseigner la religion islamique 
            et toutes les sciences qui y sont liées</p>
            <p>en effet c'est cet etablissement que les enseignants se edonnes corps et ames afin de nous
             apprendre notre religion dans les moindes details sans ambiguité</p>
             <p>L'institut des sciences islamiques aussi appelé la Markaz a pour but d'enseigner la religion islamique 
            et toutes les sciences qui y sont liées</p>
            <p>en effet c'est cet etablissement que les enseignants se edonnes corps et ames afin de nous
             apprendre notre religion dans les moindes details sans ambiguité</p>
    </div>
{% endblock %}
        