<!DOCTYPE html>
<html>
<head>
    <title>Ma page de Base</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
</head>
<body>
<header>

    <div id= 'header-div'>

        <div class= 'my_header'>
            <h2><a href="#">Markaz</a></h2>
        </div>


        <div class= 'my_header'>
            <a href="{{path("page-accueil")}}">Accueil</a>
        </div>

        <div class= 'my_header'>
            <a href="{{path("page-membres")}}">Membres</a>
        </div>

        <div class= 'my_header'>
            <a href="{{path("page-mission")}}">Mission</a>
        </div>

        <div class= 'my_header'>
            <a href="{{path("page-contact")}}">Contacts</a>
        </div>


    </div>
</header>
    <div id= 'content'>
        <div class='ma_section'>
            <h3>Sommaire</h3>
            <ol>
                <li><a href="">Presentation</a></li>
                <li><a href="">Mission</a></li>
                <li><a href="">Vos avis</a></li>
            </ol>  
        </div>
        <div class= 'mon_article'>
            {% block body %}{% endblock %}
        </div>
        
    </div>

<footer>
    <div>
    <p>Copyright © 2022 </p>
    <p>All Rights Reserved - Markaz</p>
    <p><a href="mailto:institutmarkaz@gmail.com">institutmarkaz@gmail.com</a></p>
    <p><a href="tel:+2250102030405">No: 0102030405</a></p>
    </div>
    
</footer>
</body>
</html>
